<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="author" content="pan_junbiao的博客">
    <!-- zui -->
    <link th:href="@{css/zui.min.css}" rel="stylesheet">

</head>
<body>

<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- 导航项目 -->
            <div class="collapse navbar-collapse navbar-collapse-example">
                <!-- 一般导航项目 -->
                <ul class="nav navbar-nav">
                    <li><a href="/">😀裁判文书管理系统</a></li>
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/uploadFile">上传文书</a></li>
                    <li><a href="/searchCase">案号搜索</a></li>
                    <li><a href="/logout" onclick="return confirm('确定注销吗？');">注销</a></li>
                </ul>
            </div><!-- END .navbar-collapse -->
        </div>
    </div>
</nav>

<div style="align-content: center">
    <h1>这是首页</h1>
    <p>当前登录账号为：<span th:text="${session.userName}"/></p>
    <p>您好，欢迎访问裁判文书数据管理系统！</p>
    <p href="https://www.baidu.com">地址：https://www.baidu.com</p>
    <a href="/logout" onclick="return confirm('确定注销吗？');">注销</a>
</div>
</body>
</html>