<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<!-- 默认访问 src/main/resources/static下的css文件夹-->
	<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}" />
	<!-- zui -->
	<link th:href="@{css/zui.min.css}" rel="stylesheet">
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<!-- 导航项目 -->
			<div class="collapse navbar-collapse navbar-collapse-example">
				<!-- 一般导航项目 -->
				<ul class="nav navbar-nav">
					<li><a href="/">😀裁判文书管理系统</a></li>
					<li><a href="/">首页</a></li>
					<li class="active"><a href="/uploadFile">上传文书</a></li>
					<li><a href="/searchCase">案号搜索</a></li>
					<li><a href="/logout" onclick="return confirm('确定注销吗？');">注销</a></li>
				</ul>
			</div><!-- END .navbar-collapse -->
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<form class="form-horizontal" action="upload"
				  method="post" enctype="multipart/form-data">
				<div class="form-group">
					<div class="input-group col-md-6">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-pencil"></i>
							</span>
						<input class="form-control" type="text"
							   name="description" th:placeholder="备注"/>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group col-md-6">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-search"></i>
							</span>
						<input class="form-control" type="file"
							   name="myfile"  th:placeholder="请选择文件"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="submit" class="btn btn-success">
									<span class="glyphicon glyphicon-share"></span>
									&nbsp;上传文件
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
</html>
